//colors
$white: #fff;
$red: #e45028;
$red-hover: #c1401e;
$yellow: #f9b43b;
$black: #2f3234;
$black-hover:#1f2122;
$orange: #e45028;

//normalize
@import "_misc/normalize.scss";

//misc
@import "_misc/fonts.scss";
@import "_misc/layout.scss";


//common
@import "blocks/common/btn.scss";
@import "blocks/common/section-title.scss";
@import "blocks/common/fixed-menu.scss";

//blocks
@import "blocks/header.scss";
@import "blocks/first-screen.scss";
@import "blocks/we-best.scss";
@import "blocks/reviews.scss";
@import "blocks/team.scss";




