*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.first-screen {
  background: url("../img/first-item-bg-overlay.png") no-repeat center, url("../img/first-item-bg.jpg") no-repeat center;
  background-size: cover, cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }
  .first-screen__container {
    height: 100vh;
    width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .first-screen__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .first-screen__logo img {
    max-width: 92px; }
  .first-screen__menu {
    text-transform: uppercase; }
    .first-screen__menu-items {
      list-style: none;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .first-screen__menu-item {
      text-decoration: none;
      color: #fff;
      font-size: 13px;
      padding-right: 16px; }
      .first-screen__menu-item:after {
        content: ".";
        padding-left: 16px; }
