.delivery__form__modal_bg {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f3234;
  width: 100vh;
  height: 100vh;
  z-index: 100; }
