.fixed-menu {
    position: fixed;
    right:90px;
    top:100px;
    z-index: 1;
}

.fixed-menu-point a{
	display: block;
    text-align: center;
    width: 16px;
	height: 16px;
	border: 1px solid transparent;
	position:relative;
	border-radius: 50%;
	margin-bottom: 15px;
	
	&:hover{
		border: 1px solid $white;
	}

	&:active{
		border: 1px solid $white;
	}

	&:focus{
		border: 1px solid $white;
	}

	&:after{
		content:'';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: $white;
    	}
    }