.section-title {
  @include gagalin();
  font-size: rem(72px);
  margin-bottom: rem(40px);
  margin-bottom: 15px;
  

  &_yellow {
    color: $yellow;
  }

  &_black {
    color: $black;
  }

  &_white {
    color: $white;
  }

  @include tablets () {
    font-size: 3rem;
  }
}