.delivery {
    background: url('../img/delivery-bg-overlay.png') no-repeat center, url('../img/delivery-bg.jpg') no-repeat center;
    background-size: cover, cover;
    width: 100%;
}

.delivery__form {
    display: flex;
    width: 940px;
    justify-content: center;
    align-items: flex-start;

    @include tablets() {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 72%;
        margin: 0 auto;
    }
    
    @include phones() {
        width: 99%;
        margin-left: 4px;
	}
}

.delivery__form .btn {
    display: block;
}

.delivery__form-left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    @include tablets () {
        width: 100%
	}
}

.delivery__form-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    @include tablets () {
        width: 100%;
    }
    
    @include phones() {
        justify-content: center;
    }
}

.delivery__form-right-oplata {
    display: flex;
    width: 100%;

    @include phones() {
        justify-content: center;
    }
}

.delivery__label {
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: rem(14px);
    font-weight: 400;
    margin-right: rem(20px);
    margin-top: rem(20px);

    @include tablets() {
        margin-top: rem(15px);
    }

    @include phones() {
        margin-top: rem(10px);
    }

    &-1x {
        width: calc( 100% - 20px);

        @include phones() {
            width: calc( 100% - 5px);
        }
    }
    &-2x {
        width: calc( 50% - 20px);

        @include phones() {
            width: calc( 50% - 5px);
        }

    }
    &-4x {
        width: calc( 25% - 20px);

        @include phones() {
            width: calc( 33% - 5px);
        }

    }
    input {
        padding: rem(5px);
        height: rem(35px);
        border-radius: rem(5px);
        margin-top: rem(10px);
    }
    textarea {
        padding: rem(5px);
        height: rem(115px);
        margin-top: rem(10px);
        border-radius: rem(5px);
        resize: none;
    }

    @include phones() {
        margin-right: 5px;
    }
}

.delivery__radio {
    color: $white;
    display: flex;
    justify-content: flex-start;
    font-size: rem(14px);
    font-weight: 400;
    margin-right: rem(20px);
    margin-top: rem(20px);
}

.delivery__radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.delivery__radio__text {
    position: relative;
    padding: 0 0 0 rem(30px);
    cursor: pointer;
}

.delivery__radio__text:before {
    content: '';
    position: absolute;
    left: 0;
    width: rem(15px);
    height: rem(15px);
    border: rem(1px) solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.delivery__radio__text:after {
    content: '';
    position: absolute;
    top: rem(4px);
    left: rem(4px);
    width: rem(9px);
    height: rem(9px);
    border-radius: 50%;
    background: #e35028;
    box-shadow: inset 0 rem(1px) rem(1px) rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .2s;
}

.delivery__radio input:checked+.delivery__radio__text:after {
    opacity: 1;
}

.delivery__checkbox {
    color: $white;
    display: flex;
    font-size: rem(14px);
    font-weight: 400;
    margin-right: rem(20px);
    margin-top: rem(25px);
}

.delivery__checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.delivery__checkbox__text {
    position: relative;
    padding: 0 0 0 rem(29px);
    cursor: pointer;
}

.delivery__checkbox__text:before {
    content: '';
    position: absolute;
    left: 0;
    width: rem(16px);
    height: rem(16px);
    background: $white;
}

.delivery__checkbox__text:after {
    content: '';
    position: absolute;
    top: rem(-1px);
    left: rem(2px);
    font-weight: bold;
    background: transparent;
    color: #e35028;
}

.delivery__checkbox input:checked+.delivery__checkbox__text:after {
    content: '\2713';
}

.delivery__buttons {
    display: flex;
    margin-top: rem(20px);
    width: 100%;

    .btn {
        margin-right: rem(15px);
    }

    @include phones() {
        justify-content: center;
    }
}

#etaz-label {
    @include phones () {
        display: none;
	}
}