.first-screen {
	background: url('../img/first-item-bg-overlay.png') no-repeat center, 
                url('../img/first-item-bg.jpg') no-repeat center;
    background-size: cover, cover;

.first-screen__content {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: nowrap;
		flex-grow: 1;
	}

.first-screen__burger {
		background: url('../img/drops.png') top no-repeat;
		background-size: contain;
		width: 50%;
		display: flex;
    	justify-content: center;
    	overflow: visible;
		animation: top 3s infinite ease-in-out;
    	@keyframes top {
		    0% {
		        background-position: 0px 0px, center center;
		        transform: scale(1);
		    }
		    50% {
		        background-position:: 0px 6px, center center;
		        transform: rotate(2deg);
		    }
		    100% {
		        background-position:: 0px 0px, center center;
		        transform: scale(1);
		    }
		}

 		img {
 			margin-top:-40px;
 		}
	}

.first-screen__info {
		width: 50%;
		padding: 0px 10px;
	}
}

.first-screen__desc {
	@include lifehack();
 	font-size: 65px;
 	line-height: 60px;
	font-weight: 500;
	letter-spacing: -1.5px;
	color:$white;
}

.first-screen__arrow {
 padding-bottom: 40px;
}
.arrow-scroll-icon {
	width: 30px;
	height: 30px;
}