.menu {
	background: url('../img/menu-bg.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	height: 100vh;
	width: 100%;
}

.menu .section-title {
	top: rem(110px);
	left: rem(90px);
	position: relative;

	@include tablets () {
		top: 1.875rem;
		left: 2.625rem;
	}
}

.horizontal-accordion {
	display: flex;
	position: absolute;
	right: 0;
	height: 100%;
}

.horizontal-accordion-item {
	display: flex;
}

.horizontal-accordion-head {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: rem(80px);
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $white;
	cursor: pointer;

	&-active {
		color: $yellow !important;
	}

	&:before {
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		background-color: rgba(#141414, 0.7);
	}

	&:hover {
		color: $yellow;
	}
}

.horizontal-accordion-title {
	font-size: rem(40px);
	@include gagalin();
	white-space: nowrap;
	transform: rotate(-90deg);
	padding-left: rem(43px);
}

.horizontal-accordion-content {
	display: none;
	width: 0;
	overflow: hidden;
	background-color: rgba(47, 50, 52, 0.93);
	padding: rem(60px) rem(30px);
	font-size: rem(14px);
	@include ubuntu();
	line-height: rem(24px);

	&-active {
		display: flex;
		width: 500px;

		@include tablets() {
			width: 100%;
			font-size: rem(12px);
			line-height: rem(16px);
		}
	}
}

.horizontal-accordion-content-desc {
	color: $white;
}