.menu {
	background: url('../img/menu-bg.jpg') no-repeat center;
	background-size: cover;
	position: relative;
	height: 100vh;
	width: 100%;
}

.menu .section-title {
	top: 110px;
	left: 90px;
	position: relative;
}

.vertical-accordion {
	display: flex;
	position: absolute;
	right: 0;
	height: 100%;
}

.vertical-accordion-item {
	display: flex;
}

.vertical-accordion-head {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 80px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $white;
	cursor: pointer;

	&:before {
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
		background-color: rgba(#141414, 0.7);
	}

	&_active {
		color: $yellow;
	}

	&:hover {
		color: $yellow;
	}
}

.vertical-accordion-title {
	font-size: 40px;
	@include gagalin();
	width: 100%;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	padding-left: 13px;
	padding-top: 40px;
}

.vertical-accordion-content {
	width: 0px;
	display: none;
	background-color: rgba(47, 50, 52, 0.93);
	padding: 60px 30px;
	font-size: 14px;
	@include ubuntu();
	line-height: 24px;
}
