.reviews-items {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex:1;
	width: 100%;
	background-color: black;
}

.reviews-item {
	display: block;
	width: 25%;
	height: 50%;
	background-position: center center;
	background-size: cover;
	filter: grayscale(100%);

	@include tablets () {
		width: 50%;
	height: 25%;
	}
}

.reviews-item-hover {
	top:0;
	left: 0;
	right: 0;
	bottom:0;
	color:$white;
	padding:rem(50px) rem(20px);
	position:absolute;
	background-color: rgba(#000, .5);
	opacity:0;
	transition: opacity .3s;
    display: flex;
    flex-direction: column;
	align-items: left;
	justify-content: space-around;

	@include tablets () {
		align-items: center;
		text-align: center;
		padding:rem(20px) rem(10px);
		font-size: rem(13px);
	}


	&:hover{
		opacity:1;
	}

}

.reviews-title {
	@include gagalin();
	font-size:rem(14px);
	line-height:rem(28px);

	@include phones () {
		font-size:rem(24px);
	}
}

.reviews-text {
	@include phones () {
		display: none;
	}
}
.reviews-btn {
	display: inline-flex;

	@include phones () {
		display: none;
	}
}

.reviews-btn-mob {
	display: none;

	@include phones () {
		display: inline-flex;
	}
}

