@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/subset-Ubuntu-Light.eot');
    src: url('../fonts/subset-Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Ubuntu-Light.woff2') format('woff2'),
        url('../fonts/subset-Ubuntu-Light.woff') format('woff'),
        url('../fonts/subset-Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/subset-Ubuntu-Medium.eot');
    src: url('../fonts/subset-Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Ubuntu-Medium.woff2') format('woff2'),
        url('../fonts/subset-Ubuntu-Medium.woff') format('woff'),
        url('../fonts/subset-Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/subset-Ubuntu.eot');
    src: url('../fonts/subset-Ubuntu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Ubuntu.woff2') format('woff2'),
        url('../fonts/subset-Ubuntu.woff') format('woff'),
        url('../fonts/subset-Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/subset-Ubuntu-Bold.eot');
    src: url('../fonts/subset-Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Ubuntu-Bold.woff2') format('woff2'),
        url('../fonts/subset-Ubuntu-Bold.woff') format('woff'),
        url('../fonts/subset-Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url('../fonts/subset-Lifehack-Medium.eot');
    src: url('../fonts/subset-Lifehack-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Lifehack-Medium.woff2') format('woff2'),
        url('../fonts/subset-Lifehack-Medium.woff') format('woff'),
        url('../fonts/subset-Lifehack-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/subset-Gagalin-Regular.eot');
    src: url('../fonts/subset-Gagalin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Gagalin-Regular.woff2') format('woff2'),
        url('../fonts/subset-Gagalin-Regular.woff') format('woff'),
        url('../fonts/subset-Gagalin-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

