html {
  font-size: 16px;

  @include tablets() {
    font-size: 14px;
  }

  @include phones() {
    font-size: 13px;
  }
}

html,
body {
  height: 100%;
  box-sizing: pading-box !important;
}


body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include ubuntu();
  color: $black;

}

.body-fixed {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  // min-width: rem(960px);
  min-height: 100%;
  overflow: hidden;
}

.section {
  height:100vh;
  width: 100%;
  min-height: rem(650px);
  display: flex;
}

.container {
  margin: 0 auto;
  position: relative;
  max-width: 95%;
  display: flex;

  &-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-space-between {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box !important;
}

p {
  margin-bottom: rem(20px);
}